body {
  font-family: sans-serif;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  & > div {
    margin-bottom: 2em;
  }
}

#regl canvas {
  width: 1000px;
  height: 600px;
}

.input-form {
  label {
    margin-top: 1em;
    display: block;
    font-size: 0.8em;
    font-weight: bold;

    & input {
      &[type="range"] {
        width: 600px;
      }
    }
  }

  button {
    margin-top: 2em;
    font-size: 17px;
    border-radius: 3px;
    padding: 6px 24px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}
